@import "~bootstrap/scss/bootstrap.scss";

.main-container{
    width: 80%;
    margin:20px auto;
    margin-bottom: 0;
}

a{
    text-decoration: none;
}

.ellor{
    color:red;
}

.alert{
    color:red;
    padding: 10px;
    border: 1px solid #f60202;
    text-align: center;
}

.notice{
    color:green;
    padding: 10px;
    border: 1px solid green;
    text-align: center;
}

.btn {
    margin: 5px;
    border: 0 none;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.firstview{
    background-image: url(https://rails-02-sample.herokuapp.com/assets/home/cover-lg.jpg);
    background-size: cover;
    background-position: 50%;
    width: 100%;
    padding-top: 117px;
    padding-bottom: 180px;
}

.firstview-title{
    color: #fff;
    font-family: Lato,sans-serif;
    font-size: 84px;
    font-weight: 400;
    line-height: 101px;
    margin-bottom: 48px;
    text-align: center;
    word-break: keep-all;
}

.user-icon {
    border-radius: 100px;
    background-color: #fff;
}

footer {
    align-items: center;
    background-color: #1c1d3b;
    display: flex;
    height: 265px;
}

.footer-title{
    color: #fff;
    font-size: 50px;
    text-decoration: none;
}

.sign-up{
    margin-top: 5px;
}

h2{
    font-size: 28px;
    font-weight: 500;
    line-height: 39px;
    margin-bottom: 24px;
}

.container, .container-fluid {
    max-width: 1440px;
    padding: 0 32px;
}

.UserSection {
    padding-top: 40px;
    padding-bottom: 160px;
}

.UserContainer {
    display: flex;
    grid-gap: 32px;
    gap: 32px;
    justify-content: space-between;
}

.SideNavigation {
    background-color: #fff;
    border: 1px solid #dfe2e6;
    height: fit-content;
    width: 336px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.SideNavigation__item:first-of-type {
    border-bottom: 1px solid #dfe2e6;
}
.SideNavigation__item {
    padding: 20px 24px;
}

.SideNavigation__item.active>a {
    color: #ff7757;
}
.SideNavigation__item>a {
    color: #333;
    font-size: 16px;
    line-height: 26px;
}

.AccountInformation {
    background-color: #fff;
    width: calc(100% - 32px);
}

.AccountInformation__header {
    align-items: center;
    border-bottom: 1px solid #dfe2e6;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-bottom: 8px;
}

.AccountInformation__header>h3 {
    margin-bottom: 0;
}

.AccountInformation__link {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.AccountInformation__input-group {
    align-items: center;
    display: flex;
    margin-bottom: 24px;
}

.AccountInformation__label {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    width: 25%;
}

.AccountInformation__value {
    margin-bottom: 0;
    width: 75%;
}

.AccountInformation__label--caption {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.AccountInformation__buttons {
    display: flex;
    grid-gap: 16px;
    gap: 16px;
    justify-content: flex-end;
}

.AccountInformation__button {
    align-items: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    height: 58px;
    font-size: 18px;
}

.AccountInformation__button--secondary {
    border: 1px solid #e0e0e0;
    color: #6a6a6a;
    line-height: 44px;
    width: 148px;
}

.AccountInformation__button--primary {
    background-color: #ff7757;
    color: #fff;
    width: 88px;
}

.FileUploadArea__input-group {
    margin-bottom: 0;
}

.FileUploadArea__image {
    border-radius: 60px;
    margin-right: 24px;
    width: 80px;
}

.AccountInformation__input-wrapper {
    width: 75%;
}

.AccountInformation__input {
    padding: 0.375rem 0.75rem;
    width: 100%;
}

input {
    height: 45px;
}

.icon-upload {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-left: 20px;
}

.RoomsForm__input-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.FormContainer {
    background-color: #fff;
    border-radius: 12px;
    margin: auto;
    width: 702px;
}

.RoomsForm__label {
    color: #333;
    font-size: 16px;
    line-height: 26px;
    width: 33%;
}

.form-label {
    margin-bottom: 0.5rem;
}

.Form__label--required:after {
    content: "*";
    color: #ff4949;
    font-size: 14px;
    margin-left: 4px;
}

.RoomsForm__input {
    width: 66%;
}

.FormContainer {
    background-color: #fff;
    border-radius: 12px;
    margin: auto;
    width: 702px;
}

.RoomsForm__button--submit {
    background-color: #ff7757;
    color: #fff;
    margin-bottom: 16px;
}

.RoomsForm__button {
    align-items: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    height: 58px;
    font-size: 18px;
    font-size: 14px;
    font-weight: 700;
    height: 45px;
    line-height: 21px;
    width: 100%;
}

.RoomsForm__button--cancel {
    border: 1px solid #e0e0e0;
    color: #6a6a6a;
    line-height: 44px;
    color: #333;
}

textarea {
    height: 124px;
    padding: 12px!important;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.RoomDetailsContainer {
    margin-bottom: 260px;
    padding-top: 40px;
    max-width: 1440px
}

.RoomDetailsHeader {
    display: flex;
    justify-content: space-between;
}

.RoomDetailsHeader__link {
    color: #0071c1;
    display: flex;
    grid-gap: 8px;
    gap: 8px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.RoomDetails {
    align-items: flex-start;
    display: flex;
    grid-gap: 32px;
    gap: 32px;
}

.RoomDetails__image {
    -o-object-fit: contain;
    object-fit: contain;
    width: 40%;
}

.RoomDetailsBody {
    background-color: #fff8f1;
    padding: 40px 24px;
}

.RoomDetailsBody__name-and-price {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.RoomDetails__name {
    color: #767e86;
    font-size: 24px;
    line-height: 28px;
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 0;
}

.RoomDetails__price {
    color: #ff7757;
    font-family: Lato,sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 8px;
}

.RoomDetails__address {
    color: #767e86;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 3px;
}

.RoomDetails__content {
    display: -webkit-box;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: block;
}

.ReservationForm__input-container {
    background-color: #fff;
    display: flex;
    grid-gap: 24px;
    gap: 24px;
    margin-bottom: 24px;
    padding: 24px;
}

.OwnRoomsContainer {
    margin-top: 40px;
    margin-bottom: 260px;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-color: #dee2e6;
}

.align-middle {
    vertical-align: middle!important;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.OwnRoomsTable td:first-of-type, .OwnRoomsTable th:first-of-type {
    padding-left: 0!important;
}

.OwnRoomsTable td {
    padding: 16px 0.5rem!important;
}

.OwnRoomsTable td:first-of-type img {
    width: 120px;
}

img, svg {
    vertical-align: middle;
}

.OwnRoomsTable td .dropdown {
    cursor: pointer;
}

.align-items-center {
    align-items: center!important;
}
.justify-content-center {
    justify-content: center!important;
}

.dropdown .DropdownMenu {
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(136,152,170,.2), 0 4px 5px -2px rgba(136,152,170,.14), 0 2px 16px 1px rgba(136,152,170,.12);
    min-width: 95px;
    padding: 6px 8px;
    top: -20px!important;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
}

.DropdownMenu__item:first-of-type {
    margin-bottom: 5px;
}

.DropdownMenu__item {
    font-size: 14px;
    line-height: 18px;
    padding: 0px;
}

.DropdownMenu__item>a {
    color: #333;
    display: block;
    width: 100%;
}

.DropdownMenu__item--danger>a {
    color: #ff4949;
}

.field_with_errors {
    display: contents;
    }

.FirstViewSearch {
    background: hsla(0,0%,100%,.4);
    margin: auto;
    padding: 32px;
    width: 704px;
}

.FirstViewSearch__input {
    height: 58px;
    margin-bottom: 16px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.FirstViewSearch__button {
    align-items: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    height: 58px;
    font-size: 18px;
    background-color: #ff7757;
    color: #fff;
    width: 100%;
}

.btn {
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.SearchRoomsFormContainer {
    background-color: #dfe2e6;
    display: flex;
    height: 125px;
}

.SearchRoomsForm {
    display: flex;
    grid-gap: 16px;
    gap: 16px;
    margin: auto;
    width: fit-content;
}

.SearchRoomsForm__input-group {
    position: relative;
}

.SearchRoomsForm__input {
    height: 45px;
    padding-left: 45px;
    width: 285px;
}

.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.SearchRoomsForm__button {
    font-size: 16px;
    line-height: 24px;
    height: 45px;
    width: 100px;
}

.RoomsContainer {
    margin-bottom: 260px;
    padding-top: 40px;
}

.RoomsContainer__result {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px;
}

.RoomList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-gap: 32px;
    gap: 32px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.Room {
    background: #fff8f1;
    border-radius: 26px;
    width: calc(33.33333% - 21.33333px);
}

.Room__image {
    aspect-ratio: 16/9;
    border-radius: 26px 26px 0 0;
    object-fit: cover;
    width: 100%;
}

.RoomBodyWrapper {
    padding: 40px 24px;
}

.Room__name {
    color: #767e86;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
}

.Room__address {
    color: #767e86;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 3px;
}

.Room__content {
    display: -webkit-box;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.RoomFooter {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.Room__price {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 8px;
    color: #ff7757;
    font-family: Lato,sans-serif;
    font-weight: 700;
}

.Room__link {
    width: 100%;
    align-items: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    height: 58px;
    font-size: 18px;
    background-color: #ff7757;
    color: #fff;
    line-height: 58px;
    padding: 0 20px;
    text-align: center;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.ReservationForm__input-container {
    background-color: #fff;
    display: flex;
    grid-gap: 24px;
    gap: 24px;
    margin-bottom: 24px;
    padding: 24px;
}

.ReservationForm__input-group {
    width: calc(33.33333% - 16px);
}

.ReservationForm__input-group>label {
    margin-bottom: 8px;
}

label {
    color: #6a6a6a;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
}

.ReservationForm__input--date {
    position: relative;
}

.ReservationForm__input--person-count {
    padding-right: 40px;
}

.ReservationForm__input-group--person-count {
    position: relative;
}

.ReservationForm__input-group--person-count>span {
    color: #a2a2a4;
    position: absolute;
    top: 42px;
    right: 13.5px;
}

.ReservationForm__button {
    align-items: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    height: 58px;
    font-size: 18px;
    background-color: #ff7757;
    color: #fff;
    height: 71px;
    line-height: 58px;
    width: 100%;
}

.ReservationsContainer {
    margin-top: 40px;
    margin-bottom: 260px;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-color: #dee2e6;
}

.table>thead {
    vertical-align: bottom;
}

.ReservationsTable td:first-of-type, .ReservationsTable th:first-of-type {
    padding-left: 0!important;
}

.ReservationsTable td {
    padding: 16px 0.5rem!important;
    font-size: 14px;
    line-height: 18px;
}

.FormWrapper {
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 40px 0 180px;
}

.FormContainer {
    background-color: #fff;
    border-radius: 12px;
    margin: auto;
    width: 702px;
}

.ReservationConfirm__value-group {
    align-items: baseline;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    line-height: 26px;
    margin-bottom: 24px;
}

.ReservationConfirm__label {
    font-weight: 700;
}

.ReservationConfirm__description {
    font-size: 16px;
    line-height: 26px;
}

.ReservationConfirm__button--submit {
    background-color: #ff7757;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 16px;
}

.ReservationConfirm__button {
    align-items: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    height: 58px;
    font-size: 18px;
    width: 100%;
}

.ReservationConfirm__button--cancel {
    border: 1px solid #e0e0e0;
    color: #6a6a6a;
    line-height: 44px;
}


.test{
    color: #f60202;
}